.main-section{
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffff;
}
.auth-image{
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}